Single_Row_Functions_01.sql linguist-detectable=true
Single_Row_Functions_02.sql linguist-detectable=true
Single_Row_Functions_03.sql linguist-detectable=true
Single_Row_Functions_04.sql linguist-detectable=true
Single_Row_Functions_05.sql linguist-detectable=true
Single_Row_Functions_06.sql linguist-detectable=true
Single_Row_Functions_07.sql linguist-detectable=true
Single_Row_Functions_08.sql linguist-detectable=true
Single_Row_Functions_09.sql linguist-detectable=true
Single_Row_Functions_10.sql linguist-detectable=true
